@model Domain.DTO.TicketsIndexDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create a new one </a>
</p>
<div class="container">
    <form asp-action="Index" method="post">
        @Html.HiddenFor(m => m.Tickets)
        <input asp-for="Date" type="date" />
        <input type="submit" value="Filter" class="btn btn-primary" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genre
            </th>
            <th>Price
            </th>
            <th>
                Date start
            </th>
            <th>
                Date end
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddToShoppingCart" asp-route-id="@item.Id">Add to Shopping Card</a>
            </td>
        </tr>
}
    </tbody>
</table>
